validacion.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="DatosEnergeticos">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:element name="DatosEnergeticosDelEdificio">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DatosDelCertificador">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Fecha" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="IdentificacionEdificio">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Direccion" type="xs:string" />
                                        <xs:element name="Municipio" type="xs:string" />
                                        <xs:element name="CodigoPostal" type="xs:string" />
                                        <xs:element name="Provincia" type="xs:string" />
                                        <xs:element name="ComunidadAutonoma" type="xs:string" />
                                        <xs:element name="ZonaClimatica" type="xs:string" />
                                        <xs:element name="AnoConstruccion">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="\d{4}(\-\d{4})?"></xs:pattern>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="NormativaVigente" type="xs:string" />
                                        <xs:element name="ReferenciaCatastral" type="xs:string" />
                                        <xs:element name="TipoDeEdificio" type="xs:string" />
                                        <xs:element name="Procedimiento" type="xs:string" />
                                        <xs:element name="AlcanceInformacionXML" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="DatosGeneralesyGeometria">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="SuperficieHabitable" type="xs:decimal" />
                                        <xs:element name="Compacidad" type="xs:decimal" />
                                        <xs:element name="PorcentajeSuperficieHabitableCalefactada"
                                            type="xs:integer" />
                                        <xs:element name="PorcentajeSuperficieHabitableRefrigerada"
                                            type="xs:integer" />
                                        <xs:element name="PorcentajeSuperficieAcristalada">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="N" type="xs:integer" />
                                                    <xs:element name="NE" type="xs:integer" />
                                                    <xs:element name="E" type="xs:integer" />
                                                    <xs:element name="SE" type="xs:integer" />
                                                    <xs:element name="S" type="xs:integer" />
                                                    <xs:element name="SO" type="xs:integer" />
                                                    <xs:element name="O" type="xs:integer" />
                                                    <xs:element name="NO" type="xs:integer" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="DemandaDiariaACS" type="xs:decimal" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="InstalacionesTermicas">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="GeneradoresDeCalefaccion">
                                            <xs:complexType>
                                                <xs:sequence maxOccurs="unbounded">
                                                    <xs:element name="Generador">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Nombre"
                                                                    type="xs:string" />
                                                                <xs:element name="Tipo"
                                                                    type="xs:string" />
                                                                <xs:element name="PotenciaNominal"
                                                                    type="xs:decimal" />
                                                                <xs:element
                                                                    name="RendimientoEstacional"
                                                                    type="xs:decimal" />
                                                                <xs:element name="VectorEnergetico"
                                                                    type="xs:string" />
                                                                <xs:element name="ModoDeObtencion"
                                                                    type="xs:string" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="GeneradoresDeRefrigeracion">
                                            <xs:complexType>
                                                <xs:sequence maxOccurs="unbounded">
                                                    <xs:element name="Generador">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Nombre"
                                                                    type="xs:string" />
                                                                <xs:element name="Tipo"
                                                                    type="xs:string" />
                                                                <xs:element name="PotenciaNominal"
                                                                    type="xs:decimal" />
                                                                <xs:element
                                                                    name="RendimientoEstacional"
                                                                    type="xs:decimal" />
                                                                <xs:element name="VectorEnergetico"
                                                                    type="xs:string" />
                                                                <xs:element name="ModoDeObtencion"
                                                                    type="xs:string" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="InstalacionesACS">
                                            <xs:complexType>
                                                <xs:sequence maxOccurs="unbounded">
                                                    <xs:element name="Instalacion">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Nombre"
                                                                    type="xs:string" />
                                                                <xs:element name="Tipo"
                                                                    type="xs:string" />
                                                                <xs:element name="PotenciaNominal"
                                                                    type="xs:decimal" />
                                                                <xs:element
                                                                    name="RendimientoEstacional"
                                                                    type="xs:decimal" />
                                                                <xs:element name="VectorEnergetico"
                                                                    type="xs:string" />
                                                                <xs:element name="ModoDeObtencion"
                                                                    type="xs:string" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="InstalacionesIluminacion">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="PotenciaTotalInstalada" type="xs:decimal" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="EnergiasRenovables">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Termica">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Sistema">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Nombre"
                                                                    type="xs:string" />
                                                                <xs:element
                                                                    name="ConsumoFinalCalefaccion"
                                                                    type="xs:decimal" />
                                                                <xs:element
                                                                    name="ConsumoFinalRefrigeracion"
                                                                    type="xs:decimal" />
                                                                <xs:element name="ConsumoFinalACS"
                                                                    type="xs:decimal" />
                                                                <xs:element name="DemandaACS"
                                                                    type="xs:decimal" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Electrica">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Sistema">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Nombre"
                                                                    type="xs:string" />
                                                                <xs:element
                                                                    name="EnergiaGeneradaAutoconsumida"
                                                                    type="xs:decimal" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="ReduccionGlobalEmisionesCO2">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="\d*\.\d*|\s{0}" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Demanda">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="EdificioObjeto">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Global" type="xs:decimal" />
                                                    <xs:element name="Calefaccion" type="xs:decimal" />
                                                    <xs:element name="Refrigeracion"
                                                        type="xs:decimal" />
                                                    <xs:element name="ACS" type="xs:decimal" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Consumo">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="EnergiaFinalVectores">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="GasNatural"
                                                        type="GasNaturalType" />
                                                    <xs:element name="GasoleoC" type="GasoleoCType" />
                                                    <xs:element name="GLP" type="GLPType" />
                                                    <xs:element name="Carbon" type="CarbonType" />
                                                    <xs:element name="BiomasaPellet"
                                                        type="BiomasaPelletType" />
                                                    <xs:element name="BiomasaOtros"
                                                        type="BiomasaOtrosType" />
                                                    <xs:element name="ElectricidadPeninsular"
                                                        type="ElectricidadPeninsularType" />
                                                    <xs:element name="ElecctricidadBaleares"
                                                        type="ElecctricidadBalearesType" />
                                                    <xs:element name="ElecctricidadCanarias"
                                                        type="ElecctricidadCanariasType" />
                                                    <xs:element name="ElecctricidadCeutayMelilla"
                                                        type="ElecctricidadCeutayMelillaType" />
                                                    <xs:element name="Biocarburante"
                                                        type="BiocarburanteType" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="EnergiaPrimariaNoRenovable">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Global" type="xs:decimal" />
                                                    <xs:element name="Calefaccion" type="xs:decimal" />
                                                    <xs:element name="Refrigeracion"
                                                        type="xs:decimal" />
                                                    <xs:element name="CS" type="xs:integer" />
                                                    <xs:element name="Iluminacion" type="xs:decimal" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="EmisionesCO2">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Global" type="xs:decimal" />
                                        <xs:element name="Calefaccion" type="xs:decimal" />
                                        <xs:element name="Refrigeracion" type="xs:decimal" />
                                        <xs:element name="ACS" type="xs:decimal" />
                                        <xs:element name="Iluminacion" type="xs:decimal" />
                                        <xs:element name="ConsumoElectrico" type="xs:decimal" />
                                        <xs:element name="ConsumoOtros" type="xs:decimal" />
                                        <xs:element name="TotalConsumoElectrico" type="xs:decimal" />
                                        <xs:element name="TotalConsumoOtros" type="xs:decimal" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Calificacion">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Demanda">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="EscalaCalefaccion">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="A"
                                                                    type="xs:decimal" />
                                                                <xs:element name="B"
                                                                    type="xs:decimal" />
                                                                <xs:element name="C"
                                                                    type="xs:decimal" />
                                                                <xs:element name="D"
                                                                    type="xs:decimal" />
                                                                <xs:element name="E"
                                                                    type="xs:decimal" />
                                                                <xs:element name="F"
                                                                    type="xs:decimal" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="EscalaRefrigeracion">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="A"
                                                                    type="xs:decimal" />
                                                                <xs:element name="B"
                                                                    type="xs:decimal" />
                                                                <xs:element name="C"
                                                                    type="xs:decimal" />
                                                                <xs:element name="D"
                                                                    type="xs:decimal" />
                                                                <xs:element name="E"
                                                                    type="xs:decimal" />
                                                                <xs:element name="F"
                                                                    type="xs:decimal" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Calefaccion" type="xs:string" />
                                                    <xs:element name="Refrigeracion"
                                                        type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="EnergiaPrimariaNoRenovable">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="EscalaGlobal">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="A"
                                                                    type="xs:decimal" />
                                                                <xs:element name="B"
                                                                    type="xs:decimal" />
                                                                <xs:element name="C"
                                                                    type="xs:decimal" />
                                                                <xs:element name="D"
                                                                    type="xs:decimal" />
                                                                <xs:element name="E"
                                                                    type="xs:decimal" />
                                                                <xs:element name="F"
                                                                    type="xs:decimal" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Global" type="xs:string" />
                                                    <xs:element name="Calefaccion" type="xs:string" />
                                                    <xs:element name="Refrigeracion"
                                                        type="xs:string" />
                                                    <xs:element name="ACS" type="xs:string" />
                                                    <xs:element name="Iluminacion" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="EmisionesCO2">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="EscalaGlobal">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="A"
                                                                    type="xs:decimal" />
                                                                <xs:element name="B"
                                                                    type="xs:decimal" />
                                                                <xs:element name="C"
                                                                    type="xs:decimal" />
                                                                <xs:element name="D"
                                                                    type="xs:decimal" />
                                                                <xs:element name="E"
                                                                    type="xs:decimal" />
                                                                <xs:element name="F"
                                                                    type="xs:decimal" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Global" type="xs:string" />
                                                    <xs:element name="Calefaccion" type="xs:string" />
                                                    <xs:element name="Refrigeracion"
                                                        type="xs:string" />
                                                    <xs:element name="ACS" type="xs:string" />
                                                    <xs:element name="Iluminacion" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="GasNaturalType">
        <xs:sequence>
            <xs:element name="Global" type="xs:string" />
            <xs:element name="Calefaccion" type="xs:string" />
            <xs:element name="Refrigeracion" type="xs:string" />
            <xs:element name="CS" type="xs:string" />
            <xs:element name="Iluminacion" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GasoleoCType">
        <xs:sequence>
            <xs:element name="Global" type="xs:string" />
            <xs:element name="Calefaccion" type="xs:string" />
            <xs:element name="Refrigeracion" type="xs:string" />
            <xs:element name="CS" type="xs:string" />
            <xs:element name="Iluminacion" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GLPType">
        <xs:sequence>
            <xs:element name="Global" type="xs:string" />
            <xs:element name="Calefaccion" type="xs:string" />
            <xs:element name="Refrigeracion" type="xs:string" />
            <xs:element name="CS" type="xs:string" />
            <xs:element name="Iluminacion" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CarbonType">
        <xs:sequence>
            <xs:element name="Global" type="xs:string" />
            <xs:element name="Calefaccion" type="xs:string" />
            <xs:element name="Refrigeracion" type="xs:string" />
            <xs:element name="CS" type="xs:string" />
            <xs:element name="Iluminacion" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BiomasaPelletType">
        <xs:sequence>
            <xs:element name="Global" type="xs:string" />
            <xs:element name="Calefaccion" type="xs:string" />
            <xs:element name="Refrigeracion" type="xs:string" />
            <xs:element name="CS" type="xs:string" />
            <xs:element name="Iluminacion" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BiomasaOtrosType">
        <xs:sequence>
            <xs:element name="Global" type="xs:string" />
            <xs:element name="Calefaccion" type="xs:string" />
            <xs:element name="Refrigeracion" type="xs:string" />
            <xs:element name="CS" type="xs:string" />
            <xs:element name="Iluminacion" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ElectricidadPeninsularType">
        <xs:sequence>
            <xs:element name="Global" type="xs:string" />
            <xs:element name="Calefaccion" type="xs:string" />
            <xs:element name="Refrigeracion" type="xs:string" />
            <xs:element name="CS" type="xs:string" />
            <xs:element name="Iluminacion" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ElecctricidadBalearesType">
        <xs:sequence>
            <xs:element name="Global" type="xs:string" />
            <xs:element name="Calefaccion" type="xs:string" />
            <xs:element name="Refrigeracion" type="xs:string" />
            <xs:element name="CS" type="xs:string" />
            <xs:element name="Iluminacion" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ElecctricidadCanariasType">
        <xs:sequence>
            <xs:element name="Global" type="xs:string" />
            <xs:element name="Calefaccion" type="xs:string" />
            <xs:element name="Refrigeracion" type="xs:string" />
            <xs:element name="CS" type="xs:string" />
            <xs:element name="Iluminacion" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ElecctricidadCeutayMelillaType">
        <xs:sequence>
            <xs:element name="Global" type="xs:string" />
            <xs:element name="Calefaccion" type="xs:string" />
            <xs:element name="Refrigeracion" type="xs:string" />
            <xs:element name="CS" type="xs:string" />
            <xs:element name="Iluminacion" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BiocarburanteType">
        <xs:sequence>
            <xs:element name="Global" type="xs:string" />
            <xs:element name="Calefaccion" type="xs:string" />
            <xs:element name="Refrigeracion" type="xs:string" />
            <xs:element name="CS" type="xs:string" />
            <xs:element name="Iluminacion" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>